/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

/* Header */

header {
  width: auto;
  height: 100px;
}

#logo {
  width: 10%;
}

.main-menu {
  margin-top: 25px;
}

.main-menu li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

.main-menu li:last-child {
  margin-right: 0px;
}

.main-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
/* Main content */

.first-section {
  margin-top: 30px;
  width: auto;
  height: 600px;
  background-image: url("../img/banner.jpg");
  border-radius: 15px;
}

.bianco {
  width: 700px;
  height: 80px;
  padding: 400px 50px;
  color: white;
}

.second-section {
  width: auto;
  height: 800px;
  margin-top: 30px;
}

.riga {
  width: auto;
  height: 12%;
}

.col1 {
  width: 20%;
  height: 83%;
  margin-top: 20px;
  float: left;
}

.col1 img {
  width: 100%;
  height: 240px;
  border-radius: 15px;
}

.col2 {
  width: 58%;
  height: 83%;
  margin-top: 20px;
  margin-left: 1%;
  display: inline-block;
}

.col2 div {
  width: 755px;
  height: 240px;
  overflow: hidden;
  border-radius: 15px;
}

.col2 div img {
  width: 100%;
  position: relative;
  bottom: 120px;
}

.col3 {
  width: 20%;
  height: 83%;
  margin-top: 20px;
  float: right;
}

.col3 img {
  width: 100%;
  height: 240px;
  border-radius: 15px;
}

/* Footer */
footer {
  width: auto;
  height: 70px;
  background-color: #9605c7;
  margin-top: 20px;
}
